<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.isen.auroux.backlogapp">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BacklogApp">
        <activity android:name=".projects.AddProjectActivity" />
        <activity android:name=".projects.ProjectsActivity" />
        <activity android:name=".project.ProjectBacklogActivity" />
        <activity android:name=".authentication.SignInActivity" />
        <activity android:name=".authentication.SignUpActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>